
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #d6d4d4;
}

.container {
  max-width: 1200px;
  margin: 0;
  padding: 20px;
  align-items: center;
  
}

div .profile-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
header {
  background-color:  #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header a {
  position: relative;
}

header a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #54f703;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

header a:hover::after {
  transform: scaleX(1);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  
}

nav ul li a {
  color: #c7c0c0;
  text-decoration: none;
  
}





#banner {
  height: 500px;
  background-color: #111310;
  padding: 50px 0;
  text-align: left; 
}

#banner h1 {
  margin: 0;
  justify-content: left;
  padding: 10px;
  text-align: left;
  bottom: 38%;
  position: absolute;
  
}

#banner h2 {
  margin: 0px;
  text-align: left;
  padding: 10px;
  margin: 0;
  position: absolute; 
  bottom: 31%; 
 
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  margin-top: 345px;
  bottom: 0%;
  transition: transform 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #c7b1b1;
}

.imgg img {
    width: 50%;
    float: right;
    max-width: 30%;
    height: 5%;
    display: block;
    margin: 0 auto;
}

#sobre {
  background-color: #000000;
  padding: 50px 0;
}

#sobre h2 {
  margin: 0px;
}

#sobre p {
  margin-bottom: 0px;
   
}

#habilidades {
  background-color: #111310;
  padding: 50px 0;
}

#habilidades h2 {
  margin: 0;
}

#habilidades ul {
  
  padding: 0;
  margin-top: 20px;
}

#habilidades li {
  
  margin-right: 10px;
}

#projetos {
  background-color: #000000;
  padding: 50px 0;
}

#projetos h2 {
  margin: 0;
}

.project {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  
}

.project-box {
  
  width: 300px;
  background-color: #111310;
  padding: 20px;
  text-align: center;
  margin:  10px;
  gap: 14px;

  .box-button{
    border: 1px solid white;
    diplay: 1;
    
   
    
  
}




.project-box img {
  max-width: 100%;
} 



footer {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

div {
  background-color: #000000;
}

.icone {
  width: 72px; 
  height: 72px; 
}

.icone {
  transition: transform 0.3s ease-in-out;
}

.icone:hover {
  transform: scale(1.2);
}

.icone {
  transition: filter 0.3s ease-in-out;
}

.icone:hover {
  
  filter: brightness(0.8) hue-rotate(180deg);
}

#contacto {
  background-color: #000000;
  color: #000000;
  padding: 20px;
  text-align: center;
}

body {
  background-color: #000000; 
  color: #c5cec5; /

}
